<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>974554638121-7hb2cveuthjhvtv7a8ht8pl419emq3in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974554638121-7hb2cveuthjhvtv7a8ht8pl419emq3in</string>
	<key>API_KEY</key>
	<string>AIzaSyAbVEm9w-ez4prry33wMb6-a4SI20nKxMk</string>
	<key>GCM_SENDER_ID</key>
	<string>974554638121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>grocerylist-5f623</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerylist-5f623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:974554638121:ios:11bd119eb6688866</string>
	<key>DATABASE_URL</key>
	<string>https://grocerylist-5f623.firebaseio.com</string>
</dict>
</plist>